/* Tüm sayfa için tam arka plan */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #f0f4ff, #dfe8f5);
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
}

/* İçeriği ortaya yerleştir */
#root {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 40px;
  min-height: 100vh;
  box-sizing: border-box;
}
